* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --sm: 1.6rem;
    --md: 2.4rem;
    --lg: 3.2rem;    
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
body {
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.header-container {
    border: 1px solid black;
}
.header-container h1 {
    font-size: var(--lg);
}
.header-container p {
    font-size: var(--md);
}
.main-container {
    border: 1px solid black;
}